@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

html {
    scroll-behavior: smooth;
}

.brand-logo {
    position: relative;
    left: 25px;
}

#greeting-section {
    padding: 3% 15% 2%;
}

#skill-section {
    padding: 1% 2% 5% 2%; /* top right bottom left */
}

nav {
    background-color: #da7f8f !important; 
}

body {
    background-color: #faf3f3;
}

p {
    font-family: 'DM Serif Display', serif;
    color: #3B252C;
    position: relative;
    
}

.special-skills {
    padding-bottom: 5%;
}   

.skills:hover {
    /*special skill section icons */
    color: #da7f8f;
}
    
hr {
    height: 0px;
    border: none;
    border-top: 3px solid #da7f8f;
}

.profile-pic {
    position: relative;
    top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}

.skill-headings {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    
  }